:root {
    font-size: 62.5%;

    --color-primary: hsl(266, 59%, 48%);
    --color-secondary: hsl(231, 19%, 13%);
    --color-tertiary : hsl(229, 20%, 17%);

    --font-primary: hsl(0, 0%, 100%);
    --font-secondary: hsl(0, 0%, 90%);
    --font-family: 'Roboto', sans-serif;

    --color-extra: hsl(228, 20%, 25%);
    --font-extra: hsl(229, 9%, 53%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
    font-size: 1.6rem;
    background-color: var(--color-secondary);
}

.container {
    width: min(58rem, 100%);
    padding-inline: 2rem;
    margin-inline: auto;
}

p {
    font-size: 1.6rem;
    color: var(--font-secondary);
}

h1 {
    font-size: 4.8rem;
    color: var(--font-primary);
}

h2 {
    font-size: 4rem;
    color: var(--font-primary);
}

h3 {
    font-size: 3.2rem;
    color: var(--font-primary);
}

h4 {
    font-size: 2.4rem;
    color: var(--font-primary);
}

button {
    font-weight: 700;
    font-size: 1.4rem;
    cursor: pointer;
    user-select: none;
}

ul {
    list-style-type: none;
}

/* ============================================================================== */
/* ================================== REGISTER ================================== */
/* ============================================================================== */

#register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#register .container {
    width: min(40rem, 100%);
}

.box__register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-tertiary);
    padding: 2.4rem;
    border-radius: .8rem;
}

.box__register h2 {
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.box__register p {
    width: min(25rem, 100%);
    text-align: center;
    margin-top: 2rem;
}

.box__register form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box__register input[type=text] {
    width: 100%;
    height: 6rem;
    margin-block: 2rem;
    padding-inline: 2.1rem;
    border: .2rem solid var(--color-extra);
    border-radius: .4rem;
    background-color: var(--color-secondary);
    outline: none;
    font-size: 1.6rem;
    color: var(--font-extra);
    z-index: 2;
}

.box__register input[type=text].alert {
    border: .2rem solid #750000;
}

.box__register input[type=text].alert:not(:placeholder-shown) {
    border: .2rem solid var(--color-extra);
}

.box__register input[type=submit] {
    width: 100%;
    height: 6rem;
    background-color: var(--color-primary);
    border: .2rem solid var(--color-primary);
    border-radius: .4rem;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    transition: all .3s;
    cursor: pointer;
    outline: none;
}

.box__register input[type=submit]:hover,
.box__register input[type=submit]:focus {
    background-color: transparent;
}

.box__register p:last-of-type,
.box__register p:last-of-type a {
    color: var(--font-extra);
}

/* ================================================================================ */
/* ================================== PRE LOADER ================================== */
/* ================================================================================ */

body {
    overflow-y: hidden;
}

#preLoader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    transition: opacity .5s;
}

.arc:before {
    animation: spin .5s infinite linear;
    border-radius: 100%;
    border-top: .6rem solid var(--color-primary);
    content: '';
    display: block;
    height: 50px;
    width: 50px; 
}
  
@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); 
    } 
}

/* ========================================================================== */
/* ================================== MAIN ================================== */
/* ========================================================================== */

/* ============================================= */
/* ==================== NAV ==================== */
/* ============================================= */

#main {
    display: none;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    padding-block: 1rem;
    border-bottom: .1rem solid var(--color-extra);
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navigation button:nth-of-type(1) {
    background-color: transparent;
    border: none;
    font-size: 2.4rem;
    color: var(--font-primary);
}

.navigation button:nth-of-type(2) {
    display: none;
}

/* ================================================ */
/* ==================== BANNER ==================== */
/* ================================================ */

header span {
    color: var(--color-primary);
}

#main {
    display: none;
}

.banner {
    margin-top: 5rem;
    text-align: center;
}

.banner h2 {
    margin-bottom: 4.8rem;
}

/* ================================================== */
/* ==================== BOX QUIZ ==================== */
/* ================================================== */

.box__quiz {
    display: grid;
    justify-items: center;
    gap: 4rem;
    padding-block: 8rem;
}

.quiz__single {
    width: min(40rem, 100%);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: .3s;
}

.quiz__single:active {
    transform: scale(1.05);
}

.quiz__img img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-radius: .5rem .5rem 0 0;
}

.quiz__txt {
    position: relative;
    top: -.4rem;
    width: 100%;
    background-color: var(--color-primary);
    padding: .8rem 1rem;
    text-align: center;
    border-radius: 0 0 .5rem .5rem;
}

.quiz__txt p {
    font-size: 1.8rem;
}

/* ================================================ */
/* ==================== FOOTER ==================== */
/* ================================================ */

footer {
    border-top: .1rem solid var(--color-extra);
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 2rem;
}

footer p,
footer a{
    color: var(--font-extra);
}

/* ========================================================================== */
/* ================================== QUIZ ================================== */
/* ========================================================================== */

#quiz {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: opacity .4s;
}

#quiz .container {
    width: min(40rem, 100%);
}

.quiz__tittle {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-inline: 2rem 1rem;
    padding-block: 1rem;
    background: var(--color-primary);
    background: linear-gradient(140deg, rgba(113,50,195,1) 0%, rgba(67,12,139,1) 55%);
}

.quiz__tittle h3 {
    text-transform: uppercase;
    font-weight: 400;
}

.quiz__tittle h3,
.quiz__tittle i {
    color: var(--font-primary);
}

.quiz__tittle button {
    padding-inline: 1rem;
    background-color: transparent;
    border: none;
}

.quiz__tittle i {
    font-size: 2.4rem;
}

.quiz__game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-tertiary);
    padding: 2.4rem;
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem;
}

.quiz__questions {
    margin-bottom: 2rem;
}

.quiz__questions h4 {
    font-weight: 400;
    font-size: 2rem;
}

.quiz__alternative {
    display: flex;
    flex-direction: column;   
}

.question__single {
    position: relative;
    display: grid;
    grid-template-columns: 4rem 1fr;
    margin-block: .5rem;
}

.quiz__alternative label {  
    width: 100%;
    position: relative;
    padding-left: 1.5rem;
    padding-block: 1.2rem;
    background-color: var(--color-secondary);
    font-size: 2rem;
    user-select: none;
    cursor: pointer;
    color: var(--font-extra);
    transition: .2s;
}

.quiz__alternative input {
    position: absolute;
    width: 4rem;
    height: 5rem;
    opacity: 0;
    cursor: pointer;
}

.quiz__alternative input:checked ~ label{
    color: var(--font-primary);
}
  
.checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 4rem;
    background-color: var(--color-secondary);
    font-size: 2.4rem;
    color: var(--color-primary);
    transition: .2s;
    border-right: .2rem solid var(--color-extra);
    user-select: none;
}

.quiz__alternative button {
    height: 4rem;
    margin-top: 2rem;
    background-color: var(--color-primary);
    border: .2rem solid var(--color-primary);
    border-radius: .4rem;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all .3s;
}

.quiz__alternative button:active {
    background-color: transparent;
}

/* ================================================================================= */
/* ================================== QUIZ RESULT ================================== */
/* ================================================================================= */

#quizResult {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: opacity .4s;
}

#quizResult .container {
    width: min(40rem, 100%);
}

#quizResultFruit {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: opacity .4s;
}

#quizResultFruit .container {
    width: min(40rem, 100%);
}

.box__result {
    text-align: center;
}

.box__result h2 {
    margin-bottom: .5rem;
}

.box__result span {
    color: var(--color-primary);
}

.box__result button {
    width: min(18rem, 100%);
    height: 4rem;
    margin-top: 3rem;
    background-color: var(--color-primary);
    border: .2rem solid var(--color-primary);
    border-radius: .4rem;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all .3s;
}

.box__result button:active {
    background-color: transparent;
}

/* ================================================================================ */
/* ================================== RESPONSIVE ================================== */
/* ================================================================================ */

@media (min-width: 769px) {
    .container {
        width: min(86rem, 100%);
    }

    .navigation button:nth-of-type(1) {
        display: none;
    }

    .navigation button:nth-of-type(2) {
        display: block;
        width: 10rem;
        height: 3.5rem;
        background-color: var(--color-primary);
        border: .2rem solid var(--color-primary);
        border-radius: 1rem;
        color: #fff;
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
        transition: all .3s;
    }

    .navigation button:nth-of-type(2):hover {
        background-color: transparent;
    }

    .box__quiz {
        grid-template-columns: 1fr 1fr;
    }

    .quiz__single:active {
        transform: initial;
    }
    .quiz__single:hover {
        transform: scale(1.05);
    }
}