:root {
  font-size: 62.5%;

  --color-primary: hsl(266, 59%, 48%);
  --color-secondary: hsl(217, 30%, 12%);
  --color-tertiary: hsl(214, 29%, 17%);
  --color-extra: hsl(225, 18%, 37%);

  --white: hsl(0, 0%, 95%);
  --black: hsl(0, 0%, 0%);
  --green: hsl(109, 61%, 43%);
  --red: hsl(0, 100%, 31%);

  --font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  font-size: 1.6rem;
  background-color: #0e0f0f;
}

.container {
  width: min(58rem, 100%);
  padding-inline: 1.6rem;
  margin-inline: auto;
}

p {
  font-size: 1.8rem;
  color: var(--white);
}

a {
  outline: none;
  text-decoration: none;
  color: var(--white);
}

h1 {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 116%;
  color: var(--white);
}

h2 {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 116%;
  color: var(--white);
}

h3 {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 116%;
  color: var(--white);
}

button {
  cursor: pointer;
  outline: none;
  user-select: none;
}

ul {
  list-style-type: none;
}

/* ============================================================================== */
/* ================================== REGISTER ================================== */
/* ============================================================================== */

#registerSection {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

#registerSection .container {
  width: min(40rem, 100%);
}

.box__register {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  padding: 2.4rem 1.6rem;
  border-radius: 1.2rem;
  border: 0.2rem solid var(--color-tertiary);
  background: rgba(21, 28, 39, 0.4);
  backdrop-filter: blur(0.25rem);
}

.box__register h1 {
  text-align: center;
  margin-bottom: 1.2rem;

  font-size: 3.2rem;
  font-weight: 500;
}

.box__register form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.box__register input {
  width: 100%;
  height: 5.6rem;
  padding-inline: 1.6rem;
  border: 0.2rem solid var(--color-tertiary);
  border-radius: 0.6rem;

  background-color: var(--color-secondary);
  outline: none;

  font-size: 1.6rem;
  color: var(--white);
}

.box__register input.alert,
.box__register input.alert:focus {
  border-color: var(--red);
}

.box__register input.alert:not(:placeholder-shown),
.box__register input:focus {
  border-color: var(--color-extra);
}

.box__register button {
  width: 100%;
  height: 5.6rem;
  background-color: var(--green);
  border: 0.2rem solid var(--green);
  border-radius: 0.6rem;

  font-size: 2rem;
  font-weight: 600;
  color: #fff;

  transition: all 0.3s;
}
.box__register button:is(:hover, :focus) {
  opacity: 0.8;
}

/* ================================================================================ */
/* ================================== PRE LOADER ================================== */
/* ================================================================================ */

body {
  overflow-y: hidden;
}

#preLoader {
  position: fixed;
  inset: 0;
  z-index: 3;
  display: none;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: #0e0f0f;
  transition: opacity 0.5s;
}

.arc:before {
  content: "";
  display: block;

  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  border-top: 0.6rem solid var(--white);

  animation: spin 0.5s infinite linear;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ========================================================================== */
/* ================================== MAIN ================================== */
/* ========================================================================== */

main {
  display: none;
  justify-content: center;
  align-items: center;
}

main .container {
  width: min(86rem, 100%);
}

/* ============================================= */
/* ==================== NAV ==================== */
/* ============================================= */

nav {
  display: flex;
  align-items: center;

  height: 7rem;
  margin-bottom: 6.4rem;
}

nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

nav h2 {
  line-height: 100%;
}

nav button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 4rem;
  padding-inline: 1.6rem 1.4rem;
  background-color: var(--color-secondary);
  border: 0.2rem solid var(--color-tertiary);
  border-radius: 0.6rem;

  transition: 0.3s ease-in;
}

nav button:is(:hover, :focus) {
  border-color: var(--color-extra);
  box-shadow: 0 0.2rem 2rem 0 rgba(30, 41, 55, 0.9);
}

nav button span {
  display: none;

  font-size: 1.8rem;
  font-weight: 600;
  color: var(--white);
}

/* ================================================ */
/* ==================== BANNER ==================== */
/* ================================================ */

.banner {
  margin-bottom: 6.4rem;
}

.banner .salulation {
  display: flex;
  gap: 0.4rem;
}

.banner span {
  font-size: 2rem;
  font-weight: 500;
  color: var(--white);
}

.banner .emoji {
  position: relative;
  top: -0.5rem;

  font-size: 2.2rem;

  animation: salutation 5s infinite;
}

@keyframes salutation {
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0);
  }
}

/* =================================================== */
/* ==================== HIGHLIGHT ==================== */
/* =================================================== */

.highlight {
  position: relative;

  margin-bottom: 6.4rem;
}

.highlight .container {
  display: grid;
}

.highlight .container > div {
  padding-block: 3.2rem;
}

.highlight__text {
  display: none;

  padding-inline: 1.6rem;
  background-color: var(--color-secondary);
  border: 0.2rem solid var(--color-tertiary);
  backdrop-filter: blur(0.25rem);
  border-right: none;
  border-top-left-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
}

.highlight span:not(.highlight button span) {
  width: min(17rem, 100%);
  text-align: center;

  font-size: 2.4rem;
  font-weight: 600;
  color: var(--white);
}

.highlight__quizzes {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  padding-inline: 2.4rem;
  border: 0.2rem solid var(--color-tertiary);
  border-radius: 1.2rem;
  background: rgba(21, 28, 39, 0.4);
  backdrop-filter: blur(0.2rem);
}

.highlight__card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 1.8rem 1.6rem;

  border: 0.2rem solid var(--color-secondary);
  border-radius: 0.6rem;
  transition: 0.3s ease-in;
}

.highlight__card:is(:hover, :focus-within) {
  border-color: var(--color-extra);
  box-shadow: 0 0.2rem 2rem 0 rgba(30, 41, 55, 0.9);
}

.card__title {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.card__title span {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--white);
}

.card__action {
  display: flex;
  align-items: center;
  gap: 0.8rem;

  background-color: transparent;
  border: none;
  padding: 0.6rem;

  color: var(--color-extra);

  transition: 0.3s ease-in;
}

.card__action span {
  display: none;

  font-size: 1.8rem;
  font-weight: 500;
}

.card__action svg {
  stroke: var(--color-extra);
}

.card__action:is(:hover, :focus) {
  color: var(--white);
}
.card__action:is(:hover, :focus) {
  stroke: var(--white);
}

.highlight .bg-blur {
  display: none;

  position: absolute;
  inset: 0;
}
.highlight .bg-blur svg {
  position: absolute;
  transform: translate(-50%, -50%);
}
.highlight .bg-blur svg:nth-last-of-type(1) {
  left: 44%;
  top: 40%;
}
.highlight .bg-blur svg:nth-last-of-type(2) {
  top: 29%;
  left: 50%;
}
.highlight .bg-blur svg:nth-last-of-type(3) {
  top: 60%;
  left: 64%;
}

/* ================================================== */
/* ==================== QUIZZES ===================== */
/* ================================================== */

.quizzes {
  position: relative;
  z-index: 1;

  margin-bottom: 6.4rem;
}

.quizzes .container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.quizzes__wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2.4rem;
}

.quizzes__single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;

  padding: 2.8rem 2.4rem;
  border: 0.2rem solid var(--color-secondary);
  border-radius: 1.2rem;
  outline: none;
  cursor: pointer;

  transition: 0.3s ease-in;
}
.quizzes__single:is(:hover, :focus) {
  border-color: var(--color-extra);
  background-color: var(--color-secondary);
  box-shadow: 0 0.2rem 2rem 0 rgba(30, 41, 55, 0.9);
}

.quizzes__single span {
  font-size: 2rem;
  font-weight: 500;
  color: var(--white);
}

/* ================================================ */
/* ==================== FOOTER ==================== */
/* ================================================ */

footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 7rem;
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  padding: 0.6rem 1rem;
  margin-inline: auto;
  background-color: var(--color-secondary);
  border-radius: 0.6rem;
  border: 0.2rem solid var(--color-tertiary);

  font-size: 1.6rem;
  color: var(--white);

  transition: 0.3s ease-in;
}

footer a:is(:hover, :focus) {
  border-color: var(--color-extra);
  box-shadow: 0 0.2rem 2rem 0 rgba(30, 41, 55, 0.9);
}

/* ========================================================================== */
/* ================================== QUIZ ================================== */
/* ========================================================================== */

#quiz {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: opacity 0.4s;
}

#quiz .container {
  width: min(40rem, 100%);
}

.quiz__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  padding: 2.4rem 1.6rem;
  border-radius: 1.2rem;
  border: 0.2rem solid var(--color-tertiary);
  background: rgba(21, 28, 39, 0.4);
  backdrop-filter: blur(0.25rem);
}

.quiz__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz__header span {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--white);
}
.quiz__header > span span:nth-of-type(2) {
  color: var(--color-extra);
}

.quiz__header button {
  background-color: transparent;
  border: none;
}
.quiz__header button svg {
  color: var(--color-extra);
  transition: 0.3s ease-in;
}
.quiz__header button:is(:hover, :focus) svg {
  color: var(--white);
}

.quizz__question {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.quizz__question p {
  opacity: 0.7;
}

.quizz__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.option__single label {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  width: 100%;
  height: 5.6rem;
  padding-inline: 1.6rem;
  border: 0.2rem solid var(--color-tertiary);
  border-radius: 0.6rem;
  outline: none;
  cursor: pointer;

  font-size: 1.6rem;
  color: var(--white);

  transition: 0.2s ease-in;
}
.option__single label:has(input:checked) {
  border-color: var(--green);
}
.option__single label:is(:hover, :focus) {
  border-color: var(--color-extra);
}

.option__single label span {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3.2rem;
  height: 3.2rem;
  background-color: var(--color-secondary);
  border-radius: 0.6rem;

  font-size: 1.8rem;
  font-weight: 500;

  transition: 0.3s ease-in;
}
.option__single label:has(input:checked) span {
  color: var(--green);
}

.option__single input {
  appearance: none;
  visibility: hidden;
}

.quizz__action button {
  width: 100%;
  height: 4.8rem;
  background-color: var(--green);
  border: 0.2rem solid var(--green);
  border-radius: 0.6rem;

  font-size: 2rem;
  font-weight: 500;
  color: #fff;

  transition: all 0.3s;
  cursor: not-allowed;
}
.quizz__action button:not(:disabled):is(:hover, :focus) {
  opacity: 0.8;
}
.quizz__action button:disabled {
  opacity: 0.5;
}

/* ================================================================================= */
/* ================================== QUIZ RESULT ================================== */
/* ================================================================================= */

#result {
  display: none;
  justify-content: center;
  align-items: center;

  height: 100%;
  transition: opacity 0.4s;
}

#result .container {
  width: min(40rem, 100%);
}
.result__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  padding: 2.4rem 1.6rem;
  border-radius: 1.2rem;
  border: 0.2rem solid var(--color-tertiary);
  background: rgba(21, 28, 39, 0.4);
  backdrop-filter: blur(0.25rem);
}

.result__message {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.result__progress {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.progress svg {
  display: inline-flex;
  vertical-align: bottom;
  width: 12rem;
  height: 12rem;
}

.progress circle {
  stroke: var(--color-secondary);
  stroke-width: 0.5rem;
  stroke-dasharray: 0;
  fill: none;
}

.progress .meter {
  stroke-width: 0.6rem;
  stroke: #43b12b;
  fill: none;
  transition: stroke-dashoffset 1s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transform-origin: center center;
  transform: rotate(-90deg) scaleX(-1);
}

.progress text {
  fill: var(--white);
  font-weight: 600;
  font-size: 2rem;
}

.result__progress p,
.result__progress span {
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--white);
}

.result__actions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}

.result__actions button {
  width: 100%;
  height: 4.8rem;

  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;

  transition: all 0.3s;
}

.result__actions #repeatButton {
  background-color: var(--color-secondary);
  border: 0.2rem solid transparent;
  border-radius: 0.6rem;
}
.result__actions #repeatButton:is(:hover, :focus) {
  border-color: var(--color-extra);
}

.result__actions #backToMenuButton {
  background-color: #43b12b;
  border: 0.2rem solid #43b12b;
  border-radius: 0.6rem;
}
.result__actions #backToMenuButton:is(:hover, :focus) {
  opacity: 0.8;
}

/* ================================================================================ */
/* ================================== RESPONSIVE ================================== */
/* ================================================================================ */
@media (min-width: 480px) {
  .card__action {
    padding-inline: 0;
  }

  .card__action span {
    display: block;
  }

  .quizzes__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) {
  .container {
    width: min(86rem, 100%);
  }

  nav button {
    padding-inline: 2.4rem;
  }

  nav button svg {
    display: none;
  }

  nav button span {
    display: block;
  }

  .highlight .container {
    grid-template-columns: 25% 1fr;
  }

  .highlight .bg-blur {
    display: block;
  }

  .highlight__text {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .highlight__quizzes {
    border-left: none;
    border-radius: initial;
    border-top-right-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
  }

  .highlight__quizzes > span {
    display: none;
  }

  .quizzes__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
